
<div class="container">
      <a href="/admin/add-coupons" class="btn btn-success pl-3 pr-3 mt-3" 
    style="font-size: larger; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add Coupons</a>

     <a href="/admin" class="btn btn-primary pl-5 pr-5 mt-3" 
    style="font-size: larger; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Back</a>

    <h1 style="font-family: 'Times New Roman', Times, serif;color: blue;" class="text-center">View Coupons</h1>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <table class="table table-striped-columns table-hover table-bordered table-group-divider" id="myTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Offer Price (Rs . )</th>
                <th scope="col">Coupon Code</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>

            {{#each coupons}}
            <tr>
                <td>{{this.Name}}</td>              
                <td>{{this.Price}}</td>
                <td>{{this.Coupon_Code}}</td>
                <td> <a class="btn btn-primary" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"
                        href="/admin/edit-coupons/{{this._id}}">Edit Coupons</a></td>
                <td> <a class="btn btn-danger" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"
                        href="/admin/delete-coupons/{{this._id}}"
                        onclick=" return confirm('Are You Sure {{this.Name}} Coupon is Delete')">Delete</a></td>

            </tr>
          
            {{/each}}
        </tbody>
    </table>

</div>

<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

    #myTable th,
    #myTable td {
        text-align: left;
        padding: 12px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header,
    #myTable tr:hover {
        background-color: #f1f1f1;
    }
</style>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>